<%= render "shared/header" %>

<div class="sign">
  <div class="sign-mein">
    <div class="sign-logo">
      <h2>新規登録</h2>
    </div>
    <div class="sign-form">
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      
        <%= render "devise/shared/error_messages", model: f.object  %>

        <div class="field">
          <%= f.label :image, "プロフィール画像(任意)" %><br/>
          <%= f.file_field :image %>
        </div>

        <div class="field">
          <%= f.label :radio_name, "ラジオネーム(必須)" %><br />
          <%= f.text_field :radio_name, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :email, "Email(必須)" %>
          <%= f.email_field :email, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード(必須)６文字以上の英数字" %>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "パスワード確認用(必須)" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :profile, "プロフィール(任意)" %>
          <%= f.text_field :profile %>
        </div>


        <div class="actions">
          <%= f.submit "新規登録" %>
        </div>
      <% end %>
    </div>
    <div class="new-transition">
      <div class="new-transition-logo">
        新規登録済みの方はこちらから
      </div>
      <%= link_to "ログイン", new_user_session_path, class: "new-transition-button" %>
    </div>
  </div>
</div>
