<%= render "shared/header" %>

<div class="sign">
  <div class="sign-mein">
    <div class="sign-logo">
      <h2>新規登録</h2>
    </div>
    <div class="sign-form">
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      
        <%= render "devise/shared/error_messages", model: f.object  %>

        <div class="field">
          <%= f.label :image, "プロフィール画像" %><br/>
          <%= f.file_field :image %>
        </div>

        <div class="field">
          <%= f.label :radio_name, "ラジオネーム" %><br />
          <%= f.text_field :radio_name, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :email, "Email" %>
          <%= f.email_field :email, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード ６文字以上の英数字" %>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "パスワード 確認" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :profile, "プロフィール　入力は任意です" %>
          <%= f.text_field :profile %>
        </div>


        <div class="actions">
          <%= f.submit "新規登録" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
