<%= render "shared/header" %>
<div class="user-show">
  <div class="user-information">
    <div class="user-profile">
      <div class="profile-image">
        <% if @user.image.present? %>
          <%= image_tag @user.image, class: 'poster-img' %>
        <% else %>
          <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "poster-img" %>
        <% end %>
      </div>
      <div class="profile-radio-name">
        <%= @user.radio_name %>
      </div>
      <div class="user-follows">
        <div class="follow">
          <p>フォロー</p>
        </div>
        <div class="user-follower">
          <p>フォロワー</p>
        </div>
      </div>
    </div>
    <div class="user-self-intoroduction">
      <% if @user.profile == nil %>
        <p>プロフィールが設定されていません</p>
      <% else %>
        <%= @user.profile %>
      <% end %>
    </div>
  </div>
  <div class="user_content">
    <div class="logo">
      <h2>
        <%= @user.radio_name %>さんのお気に入りラジオ番組
      </h2>
    </div>
    <div class="user-favorite-radios">
      <div class="user-favorite-radio">
        <div class="user-favorite-radio-title">
          <p>お気に入り登録されたラジオ番組タイトル</p>
        </div>
      </div>
    </div>
    <div class="logo">
      <h2>
        <%= @user.radio_name %>さんの日記一覧
      </h2>
    </div>
    <div class="user-diarys">
      <div class="user-diary">
        <div class="user-diary-title">
          <p>日記のタイトル</p>
        </div>
      </div>
    </div>
  </div>
</div>