<%= render "shared/header" %>

<div class="show">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="show-main">
    <div class="show-header">
      <div class="radio-title">
        <h2><%= @radio.category.name %></h2>
      </div>
    </div>
    <div class="messages">
      <div class="message">
        <div class="poster">
          <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "poster-img" %>
          <p class="poster-name">
          <%= current_user.radio_name %>
          </p>
        </div>
        <div class="poster-message">
          投稿者のメッセージ
        </div>
      </div>
    </div>
    <div class="show-footer">
      <input type="text" placeholder="コメントを書く" class="message-form">
      <div class="form-button">
        <input type="button" value="投函" class="form-b">
      </div>
    </div>
  </div>
</div>
